pipeline/IterateAndCopySQLTables.json
{
	"name": "IterateAndCopySQLTables",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopySqlData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "IF EXISTS (SELECT   OBJECT_NAME(OBJECT_ID) AS TABLENAME FROM SYS.IDENTITY_COLUMNS WHERE OBJECT_NAME(OBJECT_ID) = '@{item().TABLE_NAME}' AND OBJECT_SCHEMA_NAME(object_id) = '@{item().TABLE_SCHEMA}') BEGIN SET IDENTITY_INSERT [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}] ON END",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataSet",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@{item().TABLE_NAME}",
										"TableSchema": "@{item().TABLE_SCHEMA}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@{item().TABLE_NAME}",
										"TableSchema": "@{item().TABLE_SCHEMA}"
									}
								}
							]
						},
						{
							"name": "ResetIdentity",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopySqlData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "IF EXISTS (SELECT   OBJECT_NAME(OBJECT_ID) AS TABLENAME FROM SYS.IDENTITY_COLUMNS WHERE OBJECT_NAME(OBJECT_ID) = '@{item().TABLE_NAME}' AND OBJECT_SCHEMA_NAME(object_id) = '@{item().TABLE_SCHEMA}') BEGIN SET IDENTITY_INSERT [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}] OFF END SELECT 1 as id",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DestinationTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@{item().TABLE_NAME}",
										"TableSchema": "@{item().TABLE_SCHEMA}"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-03-23T23:10:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}